BCRA_API_TOKEN=eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE4MDgyMzU1NzEsInR5cGUiOiJleHRlcm5hbCIsInVzZXIiOiJzb3JpZWtldG9uY2liZXJwdW5rNDdAZ21haWwuY29tIn0.Tqfi3V8Ztuf1rgVTxhtKdUeYj-dtEwjCR3is3tpqAmL3d1dt1oCIGVq6OonV8zRC5A-5ZnIY8vyP6GMYH8-GIg